.header_wrapper {
    display: flex;
    justify-content: space-between;    
}

.header_right {
    display: flex;
}

.wrapper {
    position: relative;
    .wrapper_magnifying {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: 0 auto;
        z-index: 11;
        padding: 30px 0 0 0;

        width: 100%;
        min-height: 675px;

        background-color: #ffffff;

        opacity: 0;

        animation: animationOpen .5s forwards alternate;
    } 

    @keyframes animationOpen {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .button_close {
        position: absolute;
        right: 30px;
        top: 45px;
        
        border: 0;
        background: transparent;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.magnifying_content {
    display: flex;
    justify-content: center;
}

.head_manifying {
    display: flex;
    align-items: center;
    
    input {
        width: 650px;
        height: 60px;

        padding: 19px;

        outline: none;
        border: 1px solid #5C5C5C;
        margin-right: 20px;
    }

    button {
        width: 130px;
        height: 60px;

        border: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        color: #262626;

        background: #5667FF;

        &::placeholder {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            color: #262626;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.searching_results_content {
    width: 800px;
    margin: 0 auto;

    padding-top: 25px;
}

.searching_results {
    position: relative;
    margin-bottom: 50px;
    a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        text-decoration: none;

        color: #5FAFC9;
    }
    
    p {
        max-width: 785px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 5px;

        color: #262626;

        span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
        }
    }

    &::before {
        content: '';
        display: block;

        width: 100%;

        position: absolute;
        left: 0;
        bottom: -25px;


        border: 1px solid #D3D3D3;
    }
}


.loopa {
    margin-right: 84px;

    img {
        margin-top: 20px;
    }

    &:hover {
        cursor: pointer;
    }
}

.nav {
    list-style-type: none;
    display: flex;

    &:hover {
        cursor: pointer;
    }
}


.nav__items.active {
    background-color: #5667FF;
    color: #fff;
    cursor: not-allowed;
}

.nav__items {
    padding: 16px 22px 74px 22px;
}
